body{
  background-color: #6E34CB;
}
.container{
  text-align: center;
  height: 300px;
}
h1{
  color: #91CB34;
  font-size: 70px;
  font-family: 'Zen Dots', cursive;
}
h3{
    color: #91CB34;
    font-size: 35px;
    font-family: 'Zen Dots', cursive;

}
.animate{
  box-shadow: 0 6px 6px 0 grey;
}
.title-drum{
  height: 70px;
}
.container1{
  text-align: center;
  display: inline-block;
  height: 200px;
  width : 100%;
}

.btn{
  height:150px;
  width:150px;
  margin-right: 20px;
  border: 4px solid #91CB34 ;
  border-radius: 15px 15px;
  font-size: 50px;
  font-weight: bolder;
  color: #91CB34;
  text-shadow: 2px 2px grey;
}
.w{
  background-image: url(./crash.png);
}
.a{
  background-image: url(./kick.png);
}
.s{
  background-image: url(./snare.png);
}
.d{
  background-image: url(./tom1.png);
}
.j{
  background-image: url(./tom2.png);
}
.k{
  background-image: url(./tom3.png);
}
.l{
  background-image: url(./tom4.png);
}
footer{
  text-align: center;
  color:  #91CB34;
  font-family: cursive;
}
